@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
width: 100%;
margin: auto;
text-align: center;

position: absolute;
background-size:100% ;
background-repeat: no-repeat;
background-attachment: fixed;
background-position:center ;
display: grid;
}


header{
  width: 100%;
  display: grid;

  grid-template-columns: 80px 300px 1fr;
  /* align-items: center; */
  background-color: 	#331900;

  padding: 20px;
  height: 90px;
  padding: 0%;
  position: sticky;
  padding: top 100px;
  gap: 10px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 0%;
  padding-bottom: 50px;

margin-top: 0%;
padding-bottom: 40px;
margin-left: 10px;
}
header ul{
 
  list-style-type: none;
  text-align:center;
}

 li {
   margin-right: 20px;
  float:right
  
} 
li a {
  display: block;
  padding: 8px;
  font-family: 'Roboto Condensed', sans-serif;  text-decoration: none;
  color: white;


}
li a:hover {
  background-color: rgb(250,110,6);
}


.projectName {
  font-size: 17px;
  padding-top: 0px;
  margin-right: 50px;
  font-family: 'Josefin Sans', sans-serif; text-align:left;
 color: white;
 margin-top: 40px;
} 


.hero {
  width: 100%;
  height: 550px;
  padding: 0%;
  background-color: wheat;
  padding-top: 0px;
}


.aboutUs {
  background-image: linear-gradient(to top, rgb(82,108,91), rgb(220,220,187));
  opacity: o.5 ;
  width: 75%;
  height: 400px;
  overflow: auto;
margin-left: auto;
margin-right: auto;
color: white;
text-align: left;
padding: 15px;
}


.savingMoney{
  background-image: linear-gradient(to top, rgb(82,108,91), rgb(220,220,187));
  opacity: 2;
width: 75%;
height: 400px;
overflow: auto;
margin-left: auto;
margin-right: auto;
text-align: left;
padding: 15px;
color: white;
}
.whySave{
  background-image: linear-gradient(to top, rgb(82,108,91), rgb(220,220,187));
opacity: 2;
width: 75%;
height: 400px;
overflow: auto;
margin-left: auto;
margin-right: auto; 
color: white;
text-align: left;
padding: 15px;

}
.allP {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 15px;
  height: 435px;
  opacity: inherit;
  font-family: 'Roboto Condensed', sans-serif;
}

#aboutHead   {
  top: 0;
  padding: 5px;
  color: rgb(66,94,106);
}
#topTenHead {
  top: 0;
  padding: 5px;
  color: rgb(66,94,106);
}
#whySaveHead {
  top: 0;
  padding: 5px;
  color: rgb(66,94,106);
}



.beforBook {
  width: 100%;
  height: 15px;
 background-color: rgb(220,220,187);
 opacity: 0.3;

}

.books{
  width: 100%;
  height: 400px;
  background-color: #425E6A;
  /* opacity: 0.5; */
  
}

footer{
  /* background-image: linear-gradient(to top, rgb(220,220,187), rgb(36,76,60));  width: 100%; */
  background-color:rgb(220,220,187) ;
  height: 50px;
}

/* 
header {
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #ffdf6b;
} */
/* 
header img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding-top: 0px;
    float: left;
     */


/* 
 header nav {

margin-left: auto;
margin-right: auto;
padding-left: 400px;
padding-top: 5px;
line-height: 15px;
text-align: center;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
   */
  
/*   
}


  

header h1 {
    float: right;
  
}

section.sec1 {
    display: grid;
    grid-template-columns:  1fr  1fr 1fr 1fr  ;
    gap: 20px;
    padding: 20px;

}
section.sec2 {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr ;
    gap: 20px;
    padding: 20px;

}
img {
width: 200px;
height: 150px;
border-radius: 45%;



}

.arrow1 {
    width: 100px;
    height: 100px;
    padding-top: 30px;

}
.arrow2 {
    width: 100px;
    height: 100px;
    padding-top: 30px;
}





*/

form {
  margin: auto;
  width: 80%;
  font-family: 'New Tegomin', serif;
  /* background-color:lightgray;
  color: white; */
  border-radius: 20px;
}


input[type=number],
select {
  height: 1.75em;
  width: 100%;
}

input[type=submit] {
  float: right;
}

label {
  display: block;
  margin-bottom: 1em;
}

label span {
  display: block;
  padding-bottom: .25em;
}

.button {
  /* background-color: white;
  border: none;
  color: #b3c2b2; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 14px 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #f5deb35b;

   
/* text-shadow:5px 2px 8px rgb(119, 112, 112); */

color: rgb(3, 3, 3);
font-size: 20px;
}

table, th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* table {
  margin: 20px auto;

}
table tr th ,td:first-child{
  background-color:#61b15a ;
  color:white;
  padding: 8px 10px;
  /* box-shadow:
  inset 0 0 50px #fff,      
  inset 20px 0 80px #FEB062,   
  inset -20px 0 80px #FEB062,  
  inset 20px 0 300px #FEB062,  
  inset -20px 0 300px #FEB062, 
  0 0 50px #fff,            
  -10px 0 80px #FEB062,        
  10px 0 80px #FEB062;         
} */

/* table td{
  padding: 8px 10px;
  border-collapse: collapse;
  border: 1px solid #FEB062;
}
table tfoot{

  color:#fff;
}  */

div {
  /* background-color: #bbbbbb;
  color: white; */
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

footer {
  background-color: #bd020283;
  font-family: 'Josefin Sans', sans-serif; text-align:left;
 color: white;
 text-align: center;

} 

#divi2{

  display: grid;
  grid-template-columns: repeat(2,1fr);

}


#formlb{
display:grid;
grid-template-columns: repeat(4,1fr);

align-items: center;

}

#back{

  background-color: #f5deb342;

}



#maindayle{
  
  background-image: url("saving-money-hand-putting-coins-jar-glass-business-strategy-symbols-save-investment-money-saving-money-hand-141008952.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

#card{

display: grid;
grid-template-columns: repeat(3,1fr);
/* //اللون الي فوق الفورم */
background-color: #bd0202b5;
padding: 10px;
 
text-shadow:2px 2px 8px rgb(119, 112, 112);

color: rgb(255, 255, 255);
font-size: 20px;
}