

#main{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}

.secMain {
  display: grid;
  grid-template-rows: 100px 1fr;
  gap: 20px;
  width: 50%;
}

#chart {
  display: grid;
  grid-template-rows: 1fr 200px 1fr;
  width: 50%;
  text-align: center;
  
}

button {
  width: 150px;
  height: 50px;
  margin: 10px 10px;
  background: #4FBA6F;
    border-radius: 3px;
    color: #fff;
    padding: 10px 20px;
    
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  
}

.month {
  width: 100%;
background-color: gray;
color: black;
 
}

.month  tr{
  border-collapse: collapse;
  border:solid black 2px;
  text-align: center;
  height: 50px;
 
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.shawSaving {
  width: 100%;
  background-color: gray;
  margin-top: 50px;
}



/* .month tr:hover {
  background-color: brown;
} */

/* .month th {
  
  padding-bottom: 12px;
  background-color: crimson;
  color: white;
} */

/* .month th tr td  {
  
  border: solid black 2px;
} */