
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
width: 100%;
height: 100%;
margin-left:auto ;
margin-right: auto;
text-align: center;
background-image: url("../img/");
position: absolute;
background-size:100% ;
background-repeat: no-repeat;
background-attachment: fixed;
background-position:center ;
display: grid;
background-color: rgba(243, 220, 146, 0.856);
opacity: 2;


}

.headSection {
  display: grid;
  grid-template-columns: 80px 300px 800px ;
  background-image: linear-gradient(to top, #5a8a55, #2c5029);
  padding: 20px;
  height: 80px;
  padding: 0%;
  position: sticky;
  
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 0%;
  padding-bottom: 50px;

margin-top: 0%;
padding-bottom: 40px;
margin-left: 10px;
}

.projectName {
  font-size: 17px;
  padding-top: 0px;
  margin-right: 50px;
  font-family: 'Josefin Sans', sans-serif; text-align:left;
 color: white;
 margin-top: 40px;
} 

.nav {
padding-top: 10px;
line-height: 15px;
text-decoration: none;
font-size: 20px; 
line-height: 25px;
border-radius: 4px;
font-weight: bold;
text-align:center;
height: 60px;
width: 600px;
margin-left: 700px;
align-items:center;
font-family: 'Roboto Condensed', sans-serif;
}

.nav11{
  width: 100%;
  height: 8px;
  background-color: #e2ba4b8e;
}

.nav22{
  width: 100%;
  height: 8px;
  background-color: #e2ba4bb7;
}

ul {
  list-style-type: none;
  overflow: hidden;
  text-align:center;

}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  font-family: 'Roboto Condensed', sans-serif;  text-decoration: none;
  color: white;


}

li a:hover {
  background-color: rgb(218, 200, 150);
}

.hero {
  width: 100%;
  height: 550px;
  padding: 0%;
  background-color: wheat;
  padding-top: 0px;

}
.aboutUs {
  background-image: linear-gradient(to top, #8cc486, #406e3c);
  opacity: o.5 ;
  width: 75%;
  height: 400px;
  overflow: auto;
margin-left: auto;
margin-right: auto;
color: white;
text-align: left;
padding: 15px;


}
.savingMoney{
  background-image: linear-gradient(to top, #dbb070c7, #e69a29c7);
  opacity: 2;
width: 75%;
height: 400px;
overflow: auto;
margin-left: auto;
margin-right: auto;
text-align: left;
padding: 15px;
color: white;
}
.whySave{
  background-image: linear-gradient(to top, #8cc486, #406e3c);
opacity: 2;
width: 75%;
height: 400px;
overflow: auto;
margin-left: auto;
margin-right: auto; 
color: white;
text-align: left;
padding: 15px;

}
.allP {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 15px;
  height: 435px;
  opacity: inherit;
  font-family: 'Roboto Condensed', sans-serif;
}

.h1 {
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  /* background-color: #020202f1;
  opacity: 0.5;
  text-align: center; */
}

.h2 {
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid orange;
  color: orange;
}

.h3{
   top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
  color: #4CAF50;
}

.beforBook {
  width: 100%;
  height: 15px;
 background-color: #5a8a55;
 opacity: 0.3;

}

.books{
  width: 100%;
  height: 400px;
  background-color: #dd912088;
  opacity: 0.5;
  
}

footer{
  background-image: linear-gradient(to top, #5a8a55, #2c5029);  width: 100%;
  height: 50px;
  padding-top: 10px;
}

/* 
header {
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #ffdf6b;
} */
/* 
header img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding-top: 0px;
    float: left;
     */


/* 
 header nav {

margin-left: auto;
margin-right: auto;
padding-left: 400px;
padding-top: 5px;
line-height: 15px;
text-align: center;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
   */
  
/*   
}


  

header h1 {
    float: right;
  
}

section.sec1 {
    display: grid;
    grid-template-columns:  1fr  1fr 1fr 1fr  ;
    gap: 20px;
    padding: 20px;

}
section.sec2 {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr ;
    gap: 20px;
    padding: 20px;

}
img {
width: 200px;
height: 150px;
border-radius: 45%;



}

.arrow1 {
    width: 100px;
    height: 100px;
    padding-top: 30px;

}
.arrow2 {
    width: 100px;
    height: 100px;
    padding-top: 30px;
}





form {
    margin: auto;
    width: 50%;
    font-family: 'New Tegomin', serif;
    background-image: url("form.jpg");
    color: white;
    border-radius: 20px;
}
  
  
  input[type=number],
  select {
    height: 1.75em;
    width: 100%;
  }
  
  input[type=submit] {
    float: right;
  }
  
  label {
    display: block;
    margin-bottom: 1em;
  }
  
  label span {
    display: block;
    padding-bottom: .25em;
  }

  .button {
    background-color: rgb(110, 100, 6);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  footer {
    background-color: #ffdf6b;
} */